<h1>Lynx</h1>

<p>Hi <%= @asker.firstName %>,</p>

<p>
	You received a response to your question "<%= @ask %>" by <%= @responder.firstName %> <%= @responder.lastName %>.
<%= link_to "Go to Event Page", @event %>
</p>
