
<% provide(:title, 'All users') %>
<br>
<br>
<br>
<br>
<% if current_user.admin? %>
<h1>Admins Only View: All users</h1>
<table class="table">
	<thead>
		<tr>
	      <th>First Name</th>
	      <th>Last Name</th>
	      <th>Admin?</th>
	      <th>Delete</th>
	    </tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		  <tr>
		      <td><%= link_to user.firstName, user %> </td>
		      <td><%= link_to user.lastName, user %> </td>
		      <td>
		      	<%= form_for(user, :html => {id: user.id, class: "form-inline", style: "display: inline;"})  do |f| %>
		      	<%= f.check_box :admin, :onclick => "$('##{user.id}').submit()", class: "form-control" %>
		      	<% end %>
		      </td>
		      <td>		      	
				  <% if !current_user?(user) %>
				    <%= link_to "delete", user, method: :delete,
				                                  data: { confirm: "You sure?" } %>
				  <% end %>
		      </td>
		  </tr>
        <% end %>
	</tbody>
</table>

		<%= will_paginate @users %>
<% end %>