<% provide(:title, @user.firstName + ' ' + @user.lastName) %>
<% provide(:mobile_header_title, @user.firstName + ' ' + @user.lastName) %>
<% provide(:bodyclass, "user_profile_body") %>


<div class="">

	<div class="section">
		<h1 class= "center"> 
			<div class="profile-photo">        
				<%if @user == current_user %>
					<%= link_to gravatar_for(@user, size: 80), "https://en.gravatar.com/" %>
				<% else %>
					<%= gravatar_for @user, size: 80 %>
				<% end %>
			</div>
			<div class="user-profile-name">
				<%= @user.firstName %>
				<%= @user.lastName %>
			</div>
		</h1>
		Karma points: <%= @user.responses.count %>
	</div>


	<div class="">
		<% card_colors = ['91CFFF', '88D0E0', '6EA8A7', 'FFD090', 'F1BBA7', '0DC59C'] %>
		<% if @user.asks.any? %>
		<div class = "profile_section_title"> <%= @user.asks.count %> Asks</div>
		<% @user.asks.each do |ask| %>
		<div class="asks" style="background-color: #<%= get_card_color(card_colors).first %>;">
			<%= render ask %>
		</div>
		<% end %>
		<% end %>
	</div>




	<div class="">
		<% @responses = Ask.joins(:responses).joins(:user).where("responses.user_id" => @user.id).distinct %>
		<% card_colors = ['91CFFF', '88D0E0', '6EA8A7', 'FFD090', 'F1BBA7', '0DC59C'] %>
		<% if @responses.any? %>
		<div class = "profile_section_title"> 
			<%= @user.responses.count.to_s + ' ' + 'Comment'.pluralize(@user.responses.count)%> in 
			<% @ask_count = Ask.joins(:responses).joins(:user).where("responses.user_id" => @user.id).distinct.count %>
			<%= @ask_count.to_s + ' ' + 'Ask'.pluralize(@ask_count) %>
		</div>
		<% @responses.each do |response| %>
		<div class="asks" style="background-color: #<%= get_card_color(card_colors).first %>;">
			
			<% ask = Ask.find(response.id) %>
			<%= render ask %>
		</div>
		<% end %>
		<% end %>
	</div>

</div>
