
<div class="w-container">
  <div class="col-md-6 col-md-offset-3 form-wrapper w-form">

<%= form_for(@event) do |f| %>

<br>
<br>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id, :value => current_user.id%>


  <div class="field">
    <%= f.text_field :name, placeholder: "Name", class: 'form-field w-input' %>
  </div>
  <div class="field">
    <%= f.text_field :description, placeholder: "Description", class: 'form-field w-input' %>
  </div>
  <div class="field">
    <%= f.text_field :picture, placeholder: "Picture", class: 'form-field w-input' %>
  </div>
  <div class="field">
    <%= f.text_field :url, placeholder: "Url", class: 'form-field w-input' %>
  </div>
  <div class="field">
    <%= f.text_field :startDate, placeholder: "Start Date", 'data-behaviour' => 'datepicker', class: 'form-field w-input'  %>
  </div>
  <div class="field">
    <%= f.text_field :endDate, placeholder: "End Date", 'data-behaviour' => 'datepicker', class: 'form-field w-input'  %>
  </div>
  <div class="actions">
    <%= f.submit "Create Event", class: "button full-width w-button" %>
  </div>
<% end %>

  </div>
  </div>

