
<div class="section">

  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Access Code:</strong>
    <%= @event.access_code %>
  </p>


  <p>

    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>

    <br>
    <br>
    <%= link_to 'View Attendees', attendees_path(@event), class: "button  w-button" %>

    <%= link_to "Create Ask", new_ask_path(event_id: @event.id), class: "button  w-button" %>
  </p>
</div>
<div class="">
  <% if @event.asks.any? %>
  <h3> <%= @event.asks.count %> Asks</h3>
  <% @event.asks.each do |ask| %>
  <ol class="asks">
    <%= render ask %>
  </ol>
  <% end %>
  <% end %>
</div>

