<br><br><br>
<div class="w-container">
  <div class="col-md-6 col-md-offset-3 form-wrapper w-form">
<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.hidden_field :ask_id %>
  <div class="field">
    <%= f.text_field :response, placeholder: "Respond to question here.", class: 'form-field w-input' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </div>
  </div>
