<div id="response-<%= response.id %>">
  <small class="timestamp">
    <%= time_ago_in_words(response.created_at) %> ago.
  </small>
<%= image_tag "account-icon-25498.png", class:"img-circle user-profile-img" %>
  <span class="user"><%= link_to response.user.firstName + ' ' + response.user.lastName, response.user %>
  </span>
  
  <span class="content"><%= response.response %></span>
</div>