<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js">
  </script>
  <script type="text/javascript">WebFont.load({
    google: {
      families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Montserrat:400,700","Varela:400","Roboto:300,regular,500"]
    }
  });
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= render 'layouts/shim' %>
</head>

<body id="wrap">
  <%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <div class="<%=yield(:bodyclass)%>">
    <%= yield %>
  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>